//! **************************************************************************
// Written by: Map P.15xf on Thu May 25 00:23:57 2017
//! **************************************************************************

SCHEMATIC START;
COMP "BUSY" LOCATE = SITE "J14" LEVEL 1;
COMP "RX_DATA<0>" LOCATE = SITE "R4" LEVEL 1;
COMP "RX_DATA<1>" LOCATE = SITE "F4" LEVEL 1;
COMP "RX_DATA<2>" LOCATE = SITE "P15" LEVEL 1;
COMP "RX_DATA<3>" LOCATE = SITE "E17" LEVEL 1;
COMP "RX_DATA<4>" LOCATE = SITE "K14" LEVEL 1;
COMP "RX_DATA<5>" LOCATE = SITE "K15" LEVEL 1;
COMP "RX_DATA<6>" LOCATE = SITE "J15" LEVEL 1;
COMP "MISO" LOCATE = SITE "K12" LEVEL 1;
COMP "SCLK" LOCATE = SITE "L15" LEVEL 1;
PIN SCLK_pin<0> = BEL "SCLK" PINNAME PAD;
PIN "SCLK_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "SS_N" LOCATE = SITE "M15" LEVEL 1;
PIN SS_N_pin<0> = BEL "SS_N" PINNAME PAD;
PIN "SS_N_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "MOSI" LOCATE = SITE "L17" LEVEL 1;
COMP "CLK" LOCATE = SITE "B8" LEVEL 1;
NET "SCLK_BUFGP/IBUFG" BEL "SCLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

