
##### Grouping Constraints #####
NET "CLK" TNM_NET = "clk50_grp";
NET "SS_N" CLOCK_DEDICATED_ROUTE = FALSE;
NET "SCLK" CLOCK_DEDICATED_ROUTE = FALSE;
#NET "RESET_N" CLOCK_DEDICATED_ROUTE = FALSE;

##### Clock Period Constraints #####
TIMESPEC TS_PER_CLK50 = PERIOD "clk50_grp" 20 ns;

##### Pin LOC Constraints #####
# NET "MISO" LOC = P82 | IOSTANDARD = LVTTL;
# NET "SS_N" LOC = P81 | IOSTANDARD = LVTTL;
# NET "SCLK" LOC = P70 | IOSTANDARD = LVTTL;
# NET "MOSI" LOC = P65 | IOSTANDARD = LVTTL;

# NET "CLK"  LOC = P85 | IOSTANDARD = LVTTL;		# FPGA OSC

# NET "RESET_N" LOC = P59 | IOSTANDARD = LVTTL; 	# PB1
# NET "BUSY"    LOC = P74 | IOSTANDARD = LVTTL;	# LED0

NET "SCLK" LOC = L15 | IOSTANDARD = LVTTL;
NET "MISO" LOC = K12 | IOSTANDARD = LVTTL;
NET "MOSI" LOC = L17 | IOSTANDARD = LVTTL;
NET "SS_N" LOC = M15 | IOSTANDARD = LVTTL;

# FPGA OSC
NET "CLK" LOC = B8 | IOSTANDARD = LVTTL;

NET "BUSY" LOC = J14 | IOSTANDARD = LVTTL;

NET "RX_DATA[0]" LOC = R4 | IOSTANDARD = LVTTL;
NET "RX_DATA[1]" LOC = F4 | IOSTANDARD = LVTTL;
NET "RX_DATA[2]" LOC = P15 | IOSTANDARD = LVTTL;
NET "RX_DATA[3]" LOC = E17 | IOSTANDARD = LVTTL;
NET "RX_DATA[4]" LOC = K14 | IOSTANDARD = LVTTL;
NET "RX_DATA[5]" LOC = K15 | IOSTANDARD = LVTTL;
NET "RX_DATA[6]" LOC = J15 | IOSTANDARD = LVTTL;
#NET "RX_DATA[7]" LOC = J14 | IOSTANDARD = LVTTL;
